<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: nav"></nav>

<table class="table" th:if="${user}">
    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Date Joined</th>
        <th>User Id</th>
    </tr>

    <tr>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getJoinDate()}"></td>
        <td th:text="${user.getUserId()}"></td>
    </tr>
</table>

</body>
</html>